{% extends 'base.html.twig' %}

    {% block stylesheets %}
        {{ parent() }}
        <style>
            .row DIV .col-xs-12:hover {
                background-color: #f5f5f5;
            }
        </style>
    {% endblock %}
{% block container %}
    <div class="col-xs-12 col-sm-12">
        <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
    <table class="table" style="table-layout: fixed">
        <thead>
        <tr>
            <th><p class="text-primary" align="center" style="font-size: x-large">Jobs</p></th>
            <th><p class="text-primary" align="center" style="font-size: x-large">Resumes</p></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                {% for job in jobs %}
                    <div class="row">
                        <div class="col-xs-12 col-lg-12">
                            <div class="pull-right text-muted" style="font-size: 22px">{{ job.salary|salary }}</div>
                            <p class="text-primary" style="font-size: 27px"><a href="{{ path('app_job_view', {'id' : job.id}) }}">{{ job.title }}</a></p>
                            <p>{{ job.company }} | <a href="{{ path('app_job_list') }}?city={{ job.city|lower }}">{{ job.city }}</a></p>
                            <p>{{ job.employment }} | Experience: {{ job.experience }}</p>
                            <p class="text-muted">{{ job.description|slice(0, 350) }}</p>
                            <p><a class="btn btn-primary" href="{{ path('app_job_view', {'id' : job.id}) }}" role="button">View details &raquo;</a></p>
                        </div><!--/.col-xs-12.col-lg-12-->
                     </div><!--/row-->
                {% endfor %}
            </td>
            <td>
                {% for resume in resumes %}
                    <div class="row">
                        <div class="col-xs-12 col-lg-12">
                            <div class="pull-right" style="font-size: 19px"><a href="{{ path('app_resume_list') }}?city={{ resume.city|lower }}">{{ resume.city }}</a></div>
                            <p class="text-primary" style="font-size: 27px"><a href="{{ path('app_resume_view', {'id' : resume.id}) }}">{{ resume.jobTitle }}</a></p>
                            <p>Created: {{ resume.createdAt|date }} | Education: {{ resume.education }}</p>
                            <p>{{ resume.employment }} | Experience: {{ resume.experience }}</p>
                            <p class="text-muted">{{ resume.skills|slice(0, 350) }}</p>
                            <p><a class="btn btn-primary" href="{{ path('app_resume_view', {'id' : resume.id}) }}" role="button">View details &raquo;</a></p>
                        </div><!--/.col-xs-12.col-lg-12-->
                    </div><!--/row-->
                {% endfor %}
            </td>
        </tr>
        </tbody>
    </table>
    </div><!--/.col-xs-12.col-sm-12-->
{% endblock %}
